{% extends "post_login_loans.html" %}
{% block content %}

<form id="new-intent" action="/updateDemand/{{ demand_id }}/{{late_interest}}/{{belated_int}}/{{penal_int}}/{{p_due}}/{{p_ndue}}/{{i_due}}" method="post">
<div style="display: flex; flex-direction: column; align-items: center; flex: 1; justify-content: space-around; margin-top: 10px">
    <div class="form-group" style="display: flex; justify-content: space-between; align-items: center; flex-direction: row">
          <label for="district">Select District:</label>
          <select class="form-control" style="text-align: center;" id="district" name="district">
            {% set districts = ['Ariyalur', 'Karur', 'Nagapattinam', 'Perambalur',
              'Pudukkottai', 'Thanjavur', 'Tiruchirappalli','Tiruvarur', 'Dharmapuri',
              'Coimbatore', 'Erode', 'Krishnagiri', 'Namakkal', 'Nilgiris', 'Salem',
              'Tiruppur', 'Dindigul', 'Kanyakumari', 'Madurai', 'Ramanathapuram', 'Sivaganga',
              'Theni', 'Thoothukudi','Tirunelveli', 'Virudhunagar', 'Chennai', 'Cuddalore', 'Kancheepuram',
              'Tiruvallur', 'Tiruvannamalai', 'Vellore','Viluppuram'] %}

            {% for district in districts %}
                <option value= "{{district}}">{{district}}</option>"
            {% endfor %}
          </select>

        <label for="demandReference">Demand Reference</label>
        <input type="text" id="demandReference" name="demandReference">
    </div>

    <div class="form-group" style="display: flex; justify-content: space-between; align-items: center; flex-direction: row">
        <label for="bank">Enter Bank:</label>
        <input type="text" id="bank" name="bank">

        <label for="subBank">Enter Sub-Bank:</label>
        <input type="text" id="subBank" name="subBank">

    </div>

    <div class="form-group" style="display: flex; flex-direction: row; justify-content: space-between;">
        <div>
            <label for="loanAmount">Loan Amount</label>
            <input type="number" id="loanAmount" name="loanAmount">
        </div>
        <div style="margin-left: 10px">
            <label for="receivedDate">Snaction Date [if Loan Approved]</label>
            <input type="date" id="receivedDate" name="receivedDate">
        </div>
    </div>

    <div id="demandDetails" class="form-group" style="display: flex; flex-direction: row;">
        <div id="heading" style="display: flex; flex-direction: column; justify-content: space-between;">
            <h6>Demand #</h6>
            <h6>Demand Date</h6>
            <h6>Cheque Received Date</h6>
            <h6>Principal Payable</h6>
            <h6>Interest Payable</h6>
            <h6>Penal Interest</h6>
            <h6>Belated Interest</h6>
            <h6>Total Cheque Amount</h6>
            <h6>Principal Paid</h6>
            <h6>Interest Paid</h6>
            <h6>Service Charge Accumulated</h6>
            <h6>Principal Due</h6>
            <h6>Overall Due</h6>
            <h6>Interest Due</h6>
            <h6>Cheque #</h6>
            <h6>Cheque Date Issued</h6>
        </div>
        <div id="inputForm" style="display: flex; flex-direction: column; justify-content: space-between;">
            <input type="number" name="demandNumber" id="demandNumber">
            <input type="date" name="demandDate" id="demandDate">
            <input type="Date" name="chequeDate" id="chequeDate" onchange="populateInterest()">
            <input type="number" name="demandPrincipalPayable" id="demandPrincipalPayable">
            <input type="number" name="demandInterestPayable" id="demandInterestPayable">
            <input type="number" name="penalInterest" id="penalInterest">
            <input type="number" name="belatedInterest" id="belatedInterest">
            <input type="number" name="totalChequeAmount" id="totalChequeAmount" onkeyup="calculatePayments(this)">
            <input type="number" name="principalPaid" id="principalPaid">
            <input type="number" name="interestPaid" id="interestPaid">
            <input type="number" name="serviceCharge" id="serviceCharge">
            <input type="number" name="principalDue" id="principalDue">
            <input type="number" name="overallDue" id="overallDue">
            <input type="number" name="interestDue" id="interestDue">
            <input type="number" name="interestTotal" id="interestTotal" style="display: none">
            <input type="text" name="chequeNumber" id="chequeNumber">
            <input type="Date" name="chequeDateIssued" id="chequeDateIssued">
        </div>
    </div>

    <div id="annualloanid" style="display: flex; flex-direction: row; align-items: center; justify-content: center">
        <label for="loanID">Annual Loan ID</label>
        <input type="text" name="loanID" id="loanID">
    </div>

    <button type="submit" class="btn btn-success">Save Application Details</button>

</div>

</form>

<script>
    var source = "/demand/"+"{{demand_id}}";
    $.ajax({
        type: 'GET',
        url: source,
        contentType: "application/json",
        dataType: 'json',
        success: function (json) {
            var previous_demand_number = parseInt(json[0]['demand_number']) - 1;
            var source1 = "/demand_ann_id/" + json[0]['ann_id'] + "/" + previous_demand_number;
            console.log(source1);
            $.ajax({
                type: 'GET',
                url: source1,
                contentType: "application/json",
                dataType: 'json',
                success: function (jsonFunc) {
                document.getElementById("district").value = json[0]["district"];
                document.getElementById("bank").value = json[0]["district_bank"];
                document.getElementById("subBank").value = json[0]["sub_bank"];
                document.getElementById("demandReference").value = json[0]["demand_reference"];
                document.getElementById("loanAmount").value = json[0]["loan_amount"];
                document.getElementById("receivedDate").value = moment(json[0]["loan_sanction_date"]['$date']).format('YYYY-MM-DD');
                document.getElementById("loanID").value = json[0]["ann_id"];
                document.getElementById("demandNumber").value = parseInt(json[0]["demand_number"]);
                document.getElementById("demandDate").value = moment(json[0]["demand_date"]['$date']).format('YYYY-MM-DD');
                if (parseInt(json[0]["demand_number"]) > 1) {
                    var principal_payable = parseInt(json[0]["principal_demand"]) + parseInt(jsonFunc[0]["closing_balance_principal_due"]);
                    var interest_payable = parseInt(json[0]["interest_demand"]) + parseInt(jsonFunc[0]["closing_balance_interest_due"]);
                } else {
                    principal_payable = parseInt(json[0]["principal_demand"]);
                    interest_payable = parseInt(json[0]["interest_demand"]);
                }
                document.getElementById("demandPrincipalPayable").value = principal_payable;
                document.getElementById("demandInterestPayable").value = interest_payable;
                document.getElementById("chequeNumber").value = parseInt(json[0]["cheque_number"]);
                document.getElementById("penalInterest").value = parseInt(json[0]["penal_interest"]);
                document.getElementById("belatedInterest").value = parseInt(json[0]["belated_interest"]);
                document.getElementById("totalChequeAmount").value = parseInt(json[0]["cheque_amount"]);
                if (json[0]["cheque_date"]) {
                    document.getElementById("chequeDate").value = moment(json[0]["cheque_date"]['$date']).format('YYYY-MM-DD');
                }
                if (json[0]["cheque_date_issued"]) {
                    document.getElementById("chequeDateIssued").value = moment(json[0]["cheque_date_issued"]['$date']).format('YYYY-MM-DD');
                }

                    },
                    error: function (e) {
                        alert("The Loan Application does not exist");
                    }
                });
        },
        error: function (e) {
            alert("The Loan Application does not exist");
        }
    });

    function populateInterest() {
        var source = "/demand/" + "{{demand_id}}";

        $.ajax({
            type: 'GET',
            url: source,
            contentType: "application/json",
            dataType: 'json',
            success: function (json) {
                var cheque_date = document.getElementById('chequeDate').value;
                var demand_date = document.getElementById('demandDate').value;
                var total_demand = parseInt("{{total_interest_demand}}") + parseInt("{{total_principal_demand}}");
                if (parseInt(json[0]['demand_number']) === 1) {
                    var delay = moment(cheque_date).diff(moment(demand_date), 'days');
                    var penal = (delay * total_demand * 5) / (365 * 100);
                    var belated = (delay * total_demand * parseInt(json[0]['roi'])) / (365 * 100);

                    if (delay <= 3) {
                        penal = 0;
                        belated = 0;
                    }

                    document.getElementById("penalInterest").value = Math.round(penal);
                    document.getElementById("belatedInterest").value = Math.round(belated);
                }
                else {
                    var previous_demand_number;
                    previous_demand_number = parseInt(json[0]['demand_number']) - 1;
                    var source1 = "/demand_ann_id/" + json[0]['ann_id'] + "/" + previous_demand_number;
                    console.log(source1);
                    $.ajax({
                        type: 'GET',
                        url: source1,
                        contentType: "application/json",
                        dataType: 'json',
                        success: function (jsonFunc) {
                            if (previous_demand_number >= 1) {
                                var prev_principal_due = parseInt(jsonFunc[0]['closing_balance_principal_due']) + parseInt(jsonFunc[0]['closing_balance_interest_due']);
                                var prev_cheque_date = moment(jsonFunc[0]['cheque_date']['$date']).format('YYYY-MM-DD');
                                var d_minus_1_demand_date = moment(jsonFunc[0]['demand_date']['$date']).format('YYYY-MM-DD');
                                var delay_old = moment(d_minus_1_demand_date).diff(moment(prev_cheque_date), 'days');
                                var penal_old = (delay_old * prev_principal_due * 5) / (365 * 100);
                                var belated_old = (delay_old * prev_principal_due * parseInt(json[0]['roi'])) / (365 * 100);

                                console.log(delay_old, prev_principal_due, json[0]['roi'], penal_old, belated_old);

                                if (prev_principal_due === 0) {
                                    penal_old = 0;
                                    belated_old = 0;
                                }

                                if (delay_old <= 3 || penal_old < 0) {
                                    penal_old = 0;
                                    belated_old = 0;
                                }

                                if (parseInt(json[0]['demand_number']) >= 2) {
                                        var p3;
                                        var b3;
                                        var previous_demand_number_2 = parseInt(json[0]['demand_number']) - 1;
                                        var source2 = "/demand_ann_id/" + json[0]['ann_id'] + "/" + previous_demand_number_2;
                                        $.ajax({
                                            type: 'GET',
                                            url: source2,
                                            contentType: "application/json",
                                            dataType: 'json',
                                            success: function (jsonFunc2) {
                                                if (previous_demand_number_2 >= 1) {
                                                var prev_principal_due_2 = parseInt(jsonFunc2[0]['closing_balance_principal_due']) + parseInt(jsonFunc2[0]['closing_balance_interest_due']);
                                                var prev_cheque_date_2 = moment(jsonFunc2[0]['cheque_date']['$date']).format('YYYY-MM-DD');
                                                var d_minus_2_demand_date = moment(jsonFunc2[0]['demand_date']['$date']).format('YYYY-MM-DD');
                                                var delay_old_2 = moment(prev_cheque_date_2).diff(moment(d_minus_1_demand_date), 'days');
                                                var penal_old_2 = (delay_old_2 * prev_principal_due_2 * 5) / (365 * 100);
                                                var belated_old_2 = (delay_old_2 * prev_principal_due_2 * parseInt(json[0]['roi'])) / (365 * 100);
                                                if (prev_principal_due_2 === 0) {
                                                    penal_old_2 = 0;
                                                    belated_old_2 = 0;
                                                }

                                                if (delay_old_2 <=3 || penal_old_2 < 0) {
                                                    penal_old_2 = 0;
                                                    belated_old_2 = 0;
                                                }
                                            }

                                if (parseInt(json[0]['demand_number']) >= 3) {
                                    var previous_demand_number_3 = parseInt(json[0]['demand_number']) - 2;
                                    var source3 = "/demand_ann_id/" + json[0]['ann_id'] + "/" + previous_demand_number_3;
                                    console.log(source3);
                                    $.ajax({
                                        type: 'GET',
                                        url: source3,
                                        contentType: "application/json",
                                        dataType: 'json',
                                        success: function (jsonFunc3) {
                                            if (previous_demand_number_3 >= 1) {
                                                var prev_principal_due_3 = parseInt(jsonFunc3[0]['closing_balance_principal_due']) + parseInt(jsonFunc3[0]['closing_balance_interest_due']);
                                                var prev_cheque_date_3 = moment(jsonFunc3[0]['cheque_date']['$date']).format('YYYY-MM-DD');
                                                var d_minus_3_demand_date = moment(jsonFunc3[0]['demand_date']['$date']).format('YYYY-MM-DD');
                                                var delay_old_3 = moment(prev_cheque_date_3).diff(moment(d_minus_3_demand_date), 'days');
                                                var penal_old_3 = (delay_old_3 * prev_principal_due_3 * 5) / (365 * 100);
                                                var belated_old_3 = (delay_old_3 * prev_principal_due_3 * parseInt(json[0]['roi'])) / (365 * 100);
                                                if (prev_principal_due_3 === 0) {
                                                    penal_old_3 = 0;
                                                    belated_old_3 = 0;
                                                }

                                                if (delay_old_3 <=3 || penal_old_3 < 0) {
                                                    penal_old_3 = 0;
                                                    belated_old_3 = 0;
                                                }
                                                p3 = penal_old_3;
                                                b3 = belated_old_3;
                                            }
                                                console.log(p3, b3);
                                        },
                                        error: function (e) {
                                            console.log("First Demand");
                                        }
                                    });
                                }
                                            var delay = moment(cheque_date).diff(moment(demand_date), 'days');
                                            var penal = (delay * total_demand * 5) / (365 * 100);
                                            var belated = (delay * total_demand * parseInt(json[0]['roi'])) / (365 * 100);
                                            console.log(penal, belated, penal_old_2, belated_old_2, p3, b3);

                                            if (prev_principal_due === 0 && delay <= 3) {
                                                penal = 0;
                                                belated = 0;
                                            }

                                            if (delay <=3 || penal < 0) {
                                                penal = 0;
                                                belated = 0;
                                            }

//                                            console.log(penal, penal_old, penal_old_2, penal_old_3);
//                                            console.log(belated, belated_old, belated_old_2, belated_old_3);
//
                                            document.getElementById("penalInterest").value = Math.round(penal + penal_old + penal_old_2 + penal_old_3);
                                            document.getElementById("belatedInterest").value = Math.round(belated + belated_old + belated_old_2 + belated_old_3);
                                },
                                error: function (e) {
                                    console.log("First Demand");
                                }
                            });
                                }
                            }
                        },
                        error: function (e) {
                            console.log("First Demand");
                        }
                    });
                    }
            },
            error: function (e) {
                alert("The Loan Application does not exist");
            }
        });
    }

    function calculatePayments(that) {
        var source = "/demand/" + "{{demand_id}}";
        var ann_id, demand_number;
        var principal_due, interest_due, principal_n_due, p_n_paid;
        $.ajax({
            type: 'GET',
            url: source,
            contentType: "application/json",
            dataType: 'json',
            success: function (json) {
                ann_id = json[0]['ann_id'];
                demand_number = parseInt(json[0]['demand_number']) - 1;
                if (parseInt(json[0]['demand_number']) === 1) {
                    principal_due = parseInt(json[0]['principal_demand']);
                    interest_due = parseInt(json[0]['interest_demand']);
                    principal_n_due = parseInt(json[0]['loan_amount']);
                    document.getElementById('overallDue').value = p_n_paid;
                    var penal = parseInt(document.getElementById('penalInterest').value);
                    var belated = parseInt(document.getElementById('belatedInterest').value);
                    var total_penal_belated = parseInt(document.getElementById('penalInterest').value) + parseInt(document.getElementById('belatedInterest').value);
                    var cheque_amount = parseInt(that.value);
                    if (cheque_amount === 0) {
                        interest_paid = 0;
                        service_charge = 0;
                        principal_paid = 0;
                        document.getElementById('principalPaid').value = Math.round(principal_paid);
                        document.getElementById('interestPaid').value = Math.round(interest_paid);
                        document.getElementById('serviceCharge').value = Math.round(service_charge);
                        document.getElementById('principalDue').value = Math.round(principal_due);
                        document.getElementById('interestDue').value = Math.round(interest_due);
                    } else {
                        if (cheque_amount > total_penal_belated) {
                            var post_penal_belated_deduction = parseInt(cheque_amount) - parseInt(total_penal_belated);
                            if (post_penal_belated_deduction > interest_due) {
                                var interest_paid = interest_due;
                                var post_interest_late_deduction = post_penal_belated_deduction - interest_due;
                                var service_charge = Math.round(interest_paid * 3 / json[0]['roi']);
                                var principal_paid = post_interest_late_deduction + service_charge;
                                principal_due = principal_due - principal_paid;
                                document.getElementById('principalPaid').value = Math.round(principal_paid);
                                document.getElementById('interestPaid').value = Math.round(interest_paid);
                                document.getElementById('serviceCharge').value = Math.round(service_charge);
                                document.getElementById('principalDue').value = Math.round(principal_due);
                                document.getElementById('interestDue').value = 0;
                            } else {
                                interest_paid = post_penal_belated_deduction;
                                    service_charge = Math.round(interest_paid * 3 / json[0]['roi']);
                                    interest_due = interest_due - interest_paid;
                                    document.getElementById('principalPaid').value = 0;
                                    document.getElementById('interestPaid').value = interest_paid;
                                    document.getElementById('serviceCharge').value = service_charge;
                                    document.getElementById('principalDue').value = principal_due;
                                    document.getElementById('interestDue').value = interest_due;
                                }
                            }
                            }
                            p_n_paid = principal_n_due - document.getElementById('principalPaid').value;
                            console.log(principal_n_due, document.getElementById('principalPaid').value);
                            document.getElementById('overallDue').value = p_n_paid;

                } else {
                    var source1 = "/demand_ann_id/" + json[0]['ann_id'] + "/" + demand_number;
                    $.ajax({
                        type: 'GET',
                        url: source1,
                        contentType: "application/json",
                        dataType: 'json',
                        success: function (jsonFunc) {
                            principal_due = parseInt(jsonFunc[0]['closing_balance_principal_due']) + parseInt(json[0]['principal_demand']);
                            principal_n_due = parseInt(jsonFunc[0]['closing_balance_principal_ndue']);
                            interest_due = parseInt(jsonFunc[0]['closing_balance_interest_due']) + parseInt(json[0]['interest_demand']);

                            var total_penal_belated = parseInt(document.getElementById('penalInterest').value) + parseInt(document.getElementById('belatedInterest').value);
                            var cheque_amount = parseInt(that.value);
                            if (cheque_amount === 0) {
                                interest_paid = 0;
                                service_charge = 0;
                                principal_paid = 0;
                                document.getElementById('principalPaid').value = Math.round(principal_paid);
                                document.getElementById('interestPaid').value = Math.round(interest_paid);
                                document.getElementById('serviceCharge').value = Math.round(service_charge);
                                document.getElementById('principalDue').value = Math.round(principal_due);
                                document.getElementById('interestDue').value = document.getElementById('demandInterestPayable').value;
                            } else {
                            if (cheque_amount > total_penal_belated) {
                                var post_penal_belated_deduction = parseInt(cheque_amount) - parseInt(total_penal_belated);
                                if (post_penal_belated_deduction > interest_due) {
                                    var interest_paid = interest_due;
                                    var post_interest_late_deduction = post_penal_belated_deduction - interest_due;
                                    var service_charge = Math.round(interest_paid * 3 / json[0]['roi']);
                                    var principal_paid = post_interest_late_deduction + service_charge;
                                    principal_due = principal_due - principal_paid;
                                    document.getElementById('principalPaid').value = Math.round(principal_paid);
                                    document.getElementById('interestPaid').value = Math.round(interest_paid);
                                    document.getElementById('serviceCharge').value = Math.round(service_charge);
                                    document.getElementById('principalDue').value = Math.round(principal_due);
                                    document.getElementById('interestDue').value = 0;
                                } else {
                                    interest_paid = post_penal_belated_deduction;
                                    service_charge = Math.round(interest_paid * 3 / json[0]['roi']);
                                    interest_due = interest_due - interest_paid;
                                    document.getElementById('principalPaid').value = 0;
                                    document.getElementById('interestPaid').value = interest_paid;
                                    document.getElementById('serviceCharge').value = service_charge;
                                    document.getElementById('principalDue').value = principal_due;
                                    document.getElementById('interestDue').value = interest_due;
                                }
                            }
                            }
                            p_n_paid = principal_n_due - document.getElementById('principalPaid').value;
                            document.getElementById('overallDue').value = p_n_paid;
                        },
                        error: function (e) {
                            alert("The Loan Application does not exist");
                        }
                    });
                }
            },
            error: function (e) {
                alert("The Loan Application does not exist");
            }
        });
    }
</script>

{% endblock %}