{% extends "post_login_loans.html" %}
{% block content %}

<form id="new-intent" action="/updateDemand/{{ demand_id }}/{{late_interest}}/{{belated_int}}/{{penal_int}}/{{p_due}}/{{p_ndue}}/{{i_due}}" method="post">
<div style="display: flex; flex-direction: column; align-items: center; flex: 1; justify-content: space-around; margin-top: 10px">
    <div class="form-group" style="display: flex; justify-content: space-between; align-items: center; flex-direction: row">
          <label for="district">Select District:</label>
          <select class="form-control" style="text-align: center;" id="district" name="district">
            {% set districts = ['Ariyalur', 'Karur', 'Nagapattinam', 'Perambalur',
              'Pudukkottai', 'Thanjavur', 'Tiruchirappalli','Tiruvarur', 'Dharmapuri',
              'Coimbatore', 'Erode', 'Krishnagiri', 'Namakkal', 'Nilgiris', 'Salem',
              'Tiruppur', 'Dindigul', 'Kanyakumari', 'Madurai', 'Ramanathapuram', 'Sivaganga',
              'Theni', 'Thoothukudi','Tirunelveli', 'Virudhunagar', 'Chennai', 'Cuddalore', 'Kancheepuram',
              'Tiruvallur', 'Tiruvannamalai', 'Vellore','Viluppuram'] %}

            {% for district in districts %}
                <option value= "{{district}}">{{district}}</option>"
            {% endfor %}
          </select>

        <label for="demandReference">Demand Reference</label>
        <input type="text" id="demandReference" name="demandReference">
    </div>

    <div class="form-group" style="display: flex; justify-content: space-between; align-items: center; flex-direction: row">
        <label for="bank">Enter Bank:</label>
        <input type="text" id="bank" name="bank">

        <label for="subBank">Enter Sub-Bank:</label>
        <input type="text" id="subBank" name="subBank">

    </div>

    <div class="form-group" style="display: flex; flex-direction: row; justify-content: space-between;">
        <div>
            <label for="loanAmount">Loan Amount</label>
            <input type="number" id="loanAmount" name="loanAmount">
        </div>
        <div style="margin-left: 10px">
            <label for="receivedDate">Snaction Date [if Loan Approved]</label>
            <input type="date" id="receivedDate" name="receivedDate">
        </div>
    </div>

    <div id="demandDetails" class="form-group" style="display: flex; flex-direction: row;">
        <div id="heading" style="display: flex; flex-direction: column; justify-content: space-between;">
            <h6>Demand #</h6>
            <h6>Demand Date</h6>
            <h6>Cheque Received Date</h6>
            <h6>Principal Payable</h6>
            <h6>Interest Payable</h6>
            <h6>Penal Interest</h6>
            <h6>Belated Interest</h6>
            <h6>Total Cheque Amount</h6>
            <h6>Principal Paid</h6>
            <h6>Interest Paid</h6>
            <h6>Service Charge Accumulated</h6>
            <h6>Principal Due</h6>
            <h6>Overall Due</h6>
            <h6>Interest Due</h6>
            <h6>Cheque #</h6>
            <h6>Cheque Date Issued</h6>
        </div>
        <div id="inputForm" style="display: flex; flex-direction: column; justify-content: space-between;">
            <input type="number" name="demandNumber" id="demandNumber">
            <input type="date" name="demandDate" id="demandDate">
            <input type="Date" name="chequeDate" id="chequeDate" onchange="populateInterest()">
            <input type="number" name="demandPrincipalPayable" id="demandPrincipalPayable">
            <input type="number" name="demandInterestPayable" id="demandInterestPayable">
            <input type="number" name="penalInterest" id="penalInterest">
            <input type="number" name="belatedInterest" id="belatedInterest">
            <input type="number" name="totalChequeAmount" id="totalChequeAmount" onchange="calculatePayments(this)">
            <input type="number" name="principalPaid" id="principalPaid">
            <input type="number" name="interestPaid" id="interestPaid">
            <input type="number" name="serviceCharge" id="serviceCharge">
            <input type="number" name="principalDue" id="principalDue">
            <input type="number" name="overallDue" id="overallDue">
            <input type="number" name="interestDue" id="interestDue">
            <input type="number" name="interestTotal" id="interestTotal" style="display: none">
            <input type="text" name="chequeNumber" id="chequeNumber">
            <input type="Date" name="chequeDateIssued" id="chequeDateIssued">
        </div>
    </div>

    <div id="annualloanid" style="display: flex; flex-direction: row; align-items: center; justify-content: center">
        <label for="loanID">Annual Loan ID</label>
        <input type="text" name="loanID" id="loanID">
    </div>

    <button type="submit" class="btn btn-success">Save Application Details</button>

</div>

</form>

<script>
    var source = "/demand/"+"{{demand_id}}";
    $.ajax({
        type: 'GET',
        url: source,
        contentType: "application/json",
        dataType: 'json',
        success: function (json) {
            var previous_demand_number = parseInt(json[0]['demand_number']) - 1;
            var source1 = "/demand_ann_id/" + json[0]['ann_id'] + "/" + previous_demand_number;
            console.log(source1);
            $.ajax({
                type: 'GET',
                url: source1,
                contentType: "application/json",
                dataType: 'json',
                success: function (jsonFunc) {
                document.getElementById("district").value = json[0]["district"];
                document.getElementById("bank").value = json[0]["district_bank"];
                document.getElementById("subBank").value = json[0]["sub_bank"];
                document.getElementById("demandReference").value = json[0]["demand_reference"];
                document.getElementById("loanAmount").value = json[0]["loan_amount"];
                document.getElementById("receivedDate").value = moment(json[0]["loan_sanction_date"]['$date']).format('YYYY-MM-DD');
                document.getElementById("loanID").value = json[0]["ann_id"];
                document.getElementById("demandNumber").value = parseInt(json[0]["demand_number"]);
                document.getElementById("demandDate").value = moment(json[0]["demand_date"]['$date']).format('YYYY-MM-DD');
                document.getElementById("demandPrincipalPayable").value = parseInt(json[0]["principal_demand"]) + parseInt(jsonFunc[0]["closing_balance_principal_due"]);
                document.getElementById("demandInterestPayable").value = parseInt(json[0]["interest_demand"]) + parseInt(jsonFunc[0]["closing_balance_interest_due"]);
                document.getElementById("chequeNumber").value = parseInt(json[0]["cheque_number"]);
                document.getElementById("penalInterest").value = parseInt(json[0]["penal_interest"]);
                document.getElementById("belatedInterest").value = parseInt(json[0]["belated_interest"]);
                document.getElementById("totalChequeAmount").value = parseInt(json[0]["cheque_amount"]);
                document.getElementById("chequeDate").value = moment(json[0]["cheque_date"]['$date']).format('YYYY-MM-DD');
                document.getElementById("chequeDateIssued").value = moment(json[0]["cheque_date_issued"]['$date']).format('YYYY-MM-DD');
                    },
                    error: function (e) {
                        alert("The Loan Application does not exist");
                    }
                });
        },
        error: function (e) {
            alert("The Loan Application does not exist");
        }
    });

    function populateInterest() {
        var source = "/demand/" + "{{demand_id}}";
        $.ajax({
            type: 'GET',
            url: source,
            contentType: "application/json",
            dataType: 'json',
            success: function (json) {
                var cheque_date = document.getElementById('chequeDate').value;
                var demand_date = document.getElementById('demandDate').value;
                var total_demand = parseInt("{{total_interest_demand}}") + parseInt("{{total_principal_demand}}");

                var delay = moment(cheque_date).diff(moment(demand_date), 'days');
                var penal = (delay * total_demand * 5) / (365 * 100);
                var belated = (delay * total_demand * parseInt(json[0]['roi'])) / (365 * 100);

                if (penal < 0) {
                    penal = 0;
                    belated = 0;
                }

                document.getElementById("penalInterest").value = Math.round(penal);
                document.getElementById("belatedInterest").value = Math.round(belated);
            },
            error: function (e) {
                alert("The Loan Application does not exist");
            }
        });
    }

    function calculatePayments(that) {
        var source = "/demand/" + "{{demand_id}}";
        var ann_id, demand_number, principal_n_due;
        $.ajax({
            type: 'GET',
            url: source,
            contentType: "application/json",
            dataType: 'json',
            success: function (json) {
                ann_id = json[0]['ann_id'];
                demand_number = parseInt(json[0]['demand_number']) - 1;
                if (parseInt(json[0]['demand_number']) === 1) {
                    var principal_due = parseInt(json[0]['principal_demand']);
                    var interest_due = parseInt(json[0]['interest_demand']);
                    var p_n_paid = parseInt(json[0]['loan_amount']) - document.getElementById('principalPaid').value;
                    principal_n_due = parseInt(json[0]['loan_amount']);
                    document.getElementById('overallDue').value = p_n_paid;
                } else {
                    var source1 = "/demand_ann_id/" + json[0]['ann_id'] + "/" + demand_number;
                    $.ajax({
                    type: 'GET',
                    url: source1,
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (jsonFunc) {
                        console.log(jsonFunc);
                          principal_due = parseInt(jsonFunc[0]['closing_balance_principal_due']);
                          principal_n_due = parseInt(jsonFunc[0]['closing_balance_principal_ndue']);
                          interest_due = parseInt(jsonFunc[0]['closing_balance_interest_due']);
                var total_penal_belated = parseInt(document.getElementById('penalInterest').value) + parseInt(document.getElementById('belatedInterest').value);
                var cheque_amount = that.value;
                if (cheque_amount > total_penal_belated) {
                    var post_penal_belated_deduction = parseInt(cheque_amount) - parseInt(total_penal_belated);
                    console.log(post_penal_belated_deduction, interest_due);
                    if (post_penal_belated_deduction > interest_due) {
                        var interest_paid = interest_due;
                        var post_interest_late_deduction = post_penal_belated_deduction - interest_due;
                        var service_charge = interest_paid * 3 / json[0]['roi'];
                        var principal_paid = post_interest_late_deduction + service_charge;
                        principal_due = principal_due - principal_paid;
                        document.getElementById('principalPaid').value = principal_paid;
                        document.getElementById('interestPaid').value = interest_paid;
                        document.getElementById('serviceCharge').value = Math.round(service_charge);
                        document.getElementById('principalDue').value = Math.round(principal_due);
                        document.getElementById('interestDue').value = 0;
                    } else {
                        interest_paid = post_penal_belated_deduction;
                        service_charge = interest_paid * 3 / json[0]['roi'];
                        interest_due = interest_due - interest_paid;
                        document.getElementById('principalPaid').value = 0;
                        document.getElementById('interestPaid').value = interest_paid;
                        document.getElementById('serviceCharge').value = service_charge;
                        document.getElementById('principalDue').value = principal_due;
                        document.getElementById('interestDue').value = interest_due;
                    }
                }
                p_n_paid = principal_n_due - document.getElementById('principalPaid').value;
                console.log(principal_n_due, document.getElementById('principalPaid').value);
                document.getElementById('overallDue').value = p_n_paid;
                    },
                        error: function (e) {
                            alert("The Loan Application does not exist");
                        }
                    });
                }
            },
            error: function (e) {
                alert("The Loan Application does not exist");
            }
        });
    }
</script>

{% endblock %}