{% extends "post_login_accounts.html" %}
{% block content %}

<form id="new-intent" action="/update_account_head_add_form/{{ accHead}}" method="post">

<div style="display: flex; flex-direction: column; align-items: center; flex: 1; justify-content: space-around; margin-top: 10px">
    <div class="form-group" style="display: block; width: 38%">
        <label style="flex: 4" for="accountHead">Account Head Name</label>
        <input type="text" id="accountHead" name="accountHead" style="display: block; width: 100%">
    </div>

    <div class="form-group" style="display: flex; flex-direction: row; justify-content: space-between;">
        <div>
            <label for="openingBalanceDebit">Opening Balance Debit</label>
            <input type="text" id="openingBalanceDebit" name="openingBalanceDebit">
        </div>
        <div>
            <label for="openingBalanceCredit">Opening Balance Credit</label>
            <input type="text" id="openingBalanceCredit" name="openingBalanceCredit">
        </div>
    </div>

    </div>

    <button type="submit" class="btn btn-success">Save Account Head</button>
</form>

<script>
        var source = "/raw_acc_head_opening_balance_acc_head/{{accHead}}";
        $.ajax({
            type: 'GET',
            url: source,
            contentType: "application/json",
            dataType: 'json',
            success: function (json) {
                document.getElementById("accountHead").value = json[0]["Head of Accounts"];
                document.getElementById("openingBalanceDebit").value = json[j]["Cl"]["Debit Bal"];
                document.getElementById("openingBalanceCredit").value = json[j]["Cl"]["Credit Bal"];
            },
            error: function (e) {
                alert("error");
            }
        });

</script>

{% endblock %}
