{% extends "post_login_accounts.html" %}
{% block content %}

<body>
    <div id="demandList">
    </div>
</body>

<script>
        var source = "/raw_acc_head_balance";
        $.ajax({
            type: 'GET',
            url: source,
            contentType: "application/json",
            dataType: 'json',
            success: function (json) {
                console.log(json);
                for (var j = 0; j< json.length; j++) {
                    var tbl = $("<table class='table table-bordered table-dark' id='demandDetails'/>");
                    $("#demandList").append(tbl);
                    var hr = "<tr>";
                    var th1 = "<th onclick='sortTable(0)' style='text-align:center;vertical-align:middle'>" + "S.No" + "</th>";
                    var th2 = "<th style='text-align:center;vertical-align:middle'>" + "Account Head" + "</th>";
                    var th3 = "<th style='text-align:center;vertical-align:middle'>" + "Cl Balance Debit" + "</th>";
                    var th4 = "<th style='text-align:center;vertical-align:middle'>" + "Cl Balance Credit" + "</th>";
                    $("#demandDetails").append(hr + th1 + th2 + th3 + th4);

                    var row = $('<tr></tr>').html('<td>' +
                        + (j+1) + '</td>' +
                        '<td>' + json[j]["Head of Accounts"] + '</td>' +
                        '<td>' + json[j]["Cl"]["Debit Bal"] + '</td>' +
                        '<td>' + json[j]["Cl"]["Credit Bal"] + '</td>');
                    $("#demandDetails").append(row);
                }
            },
            error: function (e) {
                alert("error");
            }
        });


</script>

{% endblock %}
