{% extends "post_login_loans.html" %}
{% block content %}

<body>
    <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center; margin-top: 10px; margin-bottom: 10px">
        <div id="filters">
            <div id="Category">
                <label for="loanCategory">Loan Category</label>
                <select class="form-control" id="loanCategory" name="loanCategory">
                    {% set categories = ['All', 'GTL', 'NSS', 'MCL', 'MSY'] %}
                    {% for category in categories %}
                        <option value= "{{category}}">{{category}}</option>"
                    {% endfor %}
                </select>
                <label for="DistrictSelect" style="margin-left: 6%">Service District:</label>
                <select id="DistrictSelect" style="margin-left: 1%; position: relative;">
                    {% set districts = ['Ariyalur', 'Karur', 'Nagapattinam', 'Perambalur',
                      'Pudukkottai', 'Thanjavur', 'Tiruchirappalli','Tiruvarur', 'Dharmapuri',
                      'Coimbatore', 'Erode', 'Krishnagiri', 'Namakkal', 'Nilgiris', 'Salem',
                      'Tiruppur', 'Dindigul', 'Kanyakumari', 'Madurai', 'Ramanathapuram', 'Sivaganga',
                      'Theni', 'Thoothukudi','Tirunelveli', 'Virudhunagar', 'Chennai', 'Cuddalore', 'Kancheepuram',
                      'Tiruvallur', 'Tiruvannamalai', 'Vellore','Viluppuram'] %}

                    {% for district in districts %}
                        <option value= "{{district}}">{{district}}</option>"
                    {% endfor %}
                </select>
            </div>
        </div>

        <div id="Search" style="display: flex; flex-direction: column;">
            <label for="myInput" style="margin-left: 10%">Search by File Number:</label>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
        </div>
    </div>

    <div id="loansList">
    </div>
</body>

<script>
        var source = "/RawLoanApplication/SeatWise/{{profile}}";
        $.ajax({
            type: 'GET',
            url: source,
            contentType: "application/json",
            dataType: 'json',
            success: function (json) {
                    {
                        var $accountHead = $("#loanCategory");

                        $accountHead.each(function() {
                            if (this.selectedIndex === 0) {
                                populatePage(json);
                            }
                        });

                        $accountHead.change(function () {
                            var selectedbucket = this.value;
                            //filter based on  selected year.
                            if (selectedbucket==="All") {
                                populatePage(json);
                            }
                            else {
                                selectedAccountHead = jQuery.grep(json, function (account) {
                                    return account.loan_category === selectedbucket;
                                });
                                populatePage(selectedAccountHead);
                            }
                        });

                        function populatePage(jsonFunc) {
                            $("#loansDetails").find("tbody").empty();
                            var tbl = $("<table class='table table-bordered table-dark' id='loansDetails'/>");
                            $("#loansList").append(tbl);
                            var hr = "<tr>";
                            var th1 = "<th style='text-align:center;vertical-align:middle'>" + "Applicant Name" + "</th>";
                            var th2 = "<th style='text-align:center;vertical-align:middle'>" + "File #" + "</th>";
                            var th3 = "<th style='text-align:center;vertical-align:middle'>" + "District" + "</th>";
                            var th4 = "<th style='text-align:center;vertical-align:middle'>" + "Bank" + "</th>";
                            var th5 = "<th style='text-align:center;vertical-align:middle'>" + "Loan Reason" + "</th>";
                            var th6 = "<th style='text-align:center;vertical-align:middle'>" + "Loan Amount" + "</th>";
                            var th7 = "<th style='text-align:center;vertical-align:middle'>" + "Uploaded by" + "</th>";
                            var th8 = "<th style='text-align:center;vertical-align:middle'>" + "Edit Application" + "</th>";
                            var th9 = "<th style='text-align:center;vertical-align:middle'>" + "Add Financial" + "</th>";
                            var th10 = "<th style='text-align:center;vertical-align:middle'>" + "Update Financial" + "</th>";
                            $("#loansDetails").append(hr + th1 + th2 + th3 + th4 + th5 + th6 + th7 + th8 + th9 + th10);
                            for (var j = 0; j < jsonFunc.length; j++) {
                                {
                                    var loan_id = jsonFunc[j]["_id"];
                                    var ann_loan_id = jsonFunc[j]["ann_loan_id"];
                                    var ro_number = jsonFunc[j]["ro_number"];
                                    var url = '/updateApplication/'+loan_id;
                                    var url1 = '/loanFinancial/'+ann_loan_id+"/"+ro_number;
                                    var url2 = '/ViewDemandsByLoan/'+ann_loan_id+"/"+ro_number;
                                    if (jsonFunc[j]['loan_category'] === 'GTL (General Term Loan)' || jsonFunc[j]['loan_category'] === 'NSS (New-Swarnima Scheme)') {
                                        var name = jsonFunc[j]["applicant_name"];
                                    }
                                    else {
                                        name = jsonFunc[j]["shg_name"];
                                    }
                                    var row = $('<tr></tr>').html('<td>' + name + '</td>'+
                                        jsonFunc[j]["applicant_name"] + '</td>'+
                                        '<td>'+jsonFunc[j]["ann_loan_id"] +'</td>'+
                                        '<td>'+jsonFunc[j]["district"] +'</td>'+
                                        '<td>'+jsonFunc[j]["bank"] +'</td>'+
                                        '<td>'+jsonFunc[j]["loan_reason"] +'</td>'+
                                        '<td>'+jsonFunc[j]["loan_amount"] +'</td>'+
                                        '<td>'+jsonFunc[j]["user_name"] +'</td>'+
                                        '<td><button class="btn btn-default"><a href="' + url + '">'+ 'Update Application' +'</a></button></td>' +
                                        '<td><button class="btn btn-default"><a href="' + url1 + '">'+ 'Add Financial' +'</a></button></td>' +
                                        '<td><button class="btn btn-default"><a href="' + url2 + '">'+ 'View Demands' +'</a></button></td>');
                                    $("#loansDetails").append(row);
                                }
                            }
                        }
                    }
                },
            error: function (e) {
                alert("error");
            }
        });

    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("loansList");
        tr = table.getElementsByTagName("tr");
        console.log(tr.length);
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>

{% endblock %}
